ul {
  margin: 0;
}

a:hover {
  color: #31aae2;
}

.top-contact li {
  display: inline;
  padding-right: 25px;
  font-size: 12px;
}
.top-block {
  padding:  15px 0;
}
.top-background {
  background: #192330;
  color: #ababab;
}
.social-icons {
  float: right;
}
.social-icons a {
  margin-left: 16px;
}
.top-contact {
  padding-left: 0;
}
/*.row div {
  border: 1px solid black;
} */
.block-menu {
  padding:  45px 0;
}
a {
  text-decoration: none;
  color: #ababab;
}
.top-menu li {
  display: inline;
}
.top-menu a {
  color: #444444;
  font-size: 13px;
  margin-right: 30px;
}
.top-menu a:hover {
  color: #009688;
}
ul.top-menu {
  padding-left: 0;
}
a.top-home {
  color: #009688;
}
.no-border {
  border: none;
}
.no-background {
  background-color: transparent;
}
.discover-now {
  background-image: url(img/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}

.no-visible {
  visibility: hidden;
}

.button {
	background: transparent;
	color: white;
  padding: 20px 35px;
  font-size: 13px;
  display: inline-block;
  border: 1px solid white;
	text-align: center;
}

.top-fon-p-margin-top {
  margin-bottom: 70px;
  font-size: 13px;
}

.magic-image {
  visibility: hidden;
}

.magic-div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.design {
  width: 1437px;
  height: 613px;
}
.design-logo {
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  /* border: 5px solid black; */
  padding: 5% 0 5% 4%;
}
.design-text h1 {
  font-size: 35px;
  color: #444;
  text-align: center;
  margin-bottom: 40px;
}
.design-text strong {
  color: #009688;
}
.design-text p {
  text-align: center;
  color: #a7a7a7;
  font-size: 13px;
  margin-bottom: 100px;
}
.design-text {
  margin-top: 35%;
  margin-left: 0;
}
.badge {
  display: block;
    text-align: center;
}
.gray {
  background:#fafafa;
}
.text-center h5 {
  padding-bottom: 5%;
  font-size: 20px;
}
.text-center p {
  font-size: 13px;
}
.service-border {
border-top:  1px solid #ededed;
border-bottom:   1px solid #ededed;
}
.text-center h1 {
  font-size: 30px;
}
.button-link {
  background: transparent;
	color: #808080;
  padding: 15px 20px;
  font-size: 13px;
  display: inline-block;
  border: 1px solid #e3e3e3;
	text-align: center;
}
.botton-link-menu {
  background: #07877b;
}
.button-block li {
  display: inline;
}
.menu-button img {
  background: #07877b;
}
.button-block a:hover {
  color: #07877b;
}
.complated {
  margin-top: 130px;
}
.history {
  background-image: url(img/background-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #444;
  position: relative;
}
.history-text h1{
  font-size: 30px;
}
.history-text p {
  font-size: 14px;
  color: #808080;
}
.options h6 {
  font-size: 18px;
  color: #444;
}
.options p {
  font-size: 14px;
  color: #808080;
}
.block-question-text h3 {
  color: #fdfdfd;
  font-size: 30px;
}
.block-question-text p {
  color: #fdfdfd;
  font-size: 13px;
}
.question-block {
background: #292929;
color: #fdfdfd;
position: relative;
}
.my-brand-new-container {
   width: 1515px;
   margin: 0 auto;
}
.text-center h1 span {
  color: #009688;
}
.block-social-icons {
  background: #049285;
  padding-top:  7% ;
  padding-bottom: 7%;
  padding-left: 9%;
  padding-right: 12%;
}
.block-social-icons a {
  color: #ffffff;
}
.block-for-progressbar {
  background: white;
	color: #757575;
  padding: 5px 0;
  font-size: 16px;
}
a:hover {
  color: #31aae2;
}
.custom-progress {
  background: white;
  position: relative;
}
.progressbar-value {
  position: absolute;
  right: 3%;
  color: #757575;
}
.progressbar-icon {
  position: absolute;
  left: -3%;
  color: black;
  background: pink;
  z-index: 10;
}
.price-block {
  background-image: url(img/backgroundroom.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
.packages-price {
  background: #313131;
}
.packages-services {
  background: white;
  color: #808080;
  font-size: 13px;
}
.button-buy {
  background: #262626;
  color: #fff;
  padding: 5% 30% 5% 36%;
  margin: 5px 0px;
  display: inline-block;
  font-size: 13px;
}
.button-buy2 {
  background: #009688;
  color: #fff;
  padding: 5% 30% 5% 36%;
  margin: 5px 0px;
  display: inline-block;
  font-size: 13px;
}
.packages-services-border {
border-bottom: 1px solid #f0f0f0;
}
.color-price {
  color: #009688;
  font-size: 40px;
}
.no-color-price {
  font-size: 40px;
  color: #ffffff;

}
.packages-price sub {
  font-size: 10px;
}
.packages-price sup {
  font-size: 20px;
}

@media (max-width: 1440px) {
    my-brand-new-container {
        width: 1300px;
    }
}
/* .design-logo {
margin:  120px 0 120px 150px;
} */

@media (max-width: 756px) {
  .top-contact li {
    display: block;
  }

  .social-icons {
    float: none;
    margin-top: 10px;
  }

  .social-icons a {
    margin-left: 0px;
    margin-right: 10px;
  }
}
